# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the test1 branch
  push:
    branches: [ test1 ]
  pull_request:
    branches: [ test1 ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run check
        run: |
          a=`head -1 $GITHUB_WORKSPACE/Jenkinsfile | grep arun | wc -l`
          if [ $a -ne 1 ]; then echo "not found"; else echo "found"; fi
        id: find_arun
      - name: error code
        if: contains(steps.find_arun.outputs, 'not')
        run: exit 1

      - name: error code positive
        if: contains(steps.find_arun.outputs, 'not') == 'false'
        run: exit 0
